.glide.videos-slider {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  overflow: visible !important; /* Ensure 3D effect is visible */
}

.glide__bullets {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.glide__bullets > * {
  margin: 0 10px;
}

.glide__arrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 35%;
  z-index: 10;
}

.glide__arrow {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

[data-ref="hero[el]"] {
  transition: transform 0.5s ease-in;
  will-change: transform;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}



.glide__track {
  overflow: visible !important; /* Ensure 3D effect is visible */
}

ul.glide__slides {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

li.glide__slide {
  max-width: 350px;
  transition: all 0.5s ease;
}

/* Center alignment for the active slide */
.glide__slide--active {
  z-index: 1;
}

/* Center alignment for the active slide */
.glide__slide--active {
  z-index: 1;
}

@media screen and (min-width: 992px) {
  .glide.videos-slider {
    margin-bottom: 4rem;
  }
  
  ul.glide__slides {
    padding-bottom: 8rem;
  }
}

/* Additional styles for wider screens */
@media screen and (min-width: 1600px) {
  .glide.videos-slider {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 2400px) {
  .glide.videos-slider {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}